.swiper-container {
  width: 80%;
  padding-top: 36px;
  padding-bottom: 48px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
}

.swiper-slide a {
  color: #fff;
}
